*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto Light', sans-serif;
}
.container{
  display: flex;
  background-color: #eeeeee;
}
.navbar{
  width: 15%; 
}
ul{
  background: #000000;
  color: #eeeeee;
  text-transform: uppercase;
  list-style-type: none;
  font-size: 16px;
  text-align: start;
  padding: 0;
}
li{
  padding: 20px;
  border-bottom: 1px rgb(214, 214, 214) solid;
}
