.form{
  display: flex;
  margin: auto;
  background-color: rgb(109, 109, 109);
  width: 500px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 4px;
}

.form input{
  max-width: 50%;
  align-self: center;
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: none;
}

.form button{
  max-width: 20%;
  margin: 10px;
  align-self: center;
  width: 25%;
}

.buttonGeneral{
  border:none;
  border-radius: 4px;
  background-color: #424242;
  color:#cecece;
  padding: 10px;
}

.buttonGeneral:hover{
  border:1px, rgba(0,0,0,0.24);
  color: rgb(0,0,0);
  background-color: #cecece 
}