<link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
<div class="container">
  <div class="navbar">
    <ul>
      <li><a routerLink="product">Product</a></li>
      <li><a routerLink="category">Category</a></li>
      <li><a routerLink="addnews">News</a></li>
      <li><a routerLink="contact"> Contact</a></li>
      <li (click)="openModal('modal-logout');"> Logout</li>
    </ul>
  </div>
  <modal id="modal-logout">
    <div class="modal">
      <div class="modal-body">
        <h4>Logout</h4>
        <div class="content">
          <p>Are you sure to logout?</p>
        </div>
        <div class="action">
          <button (click)="logout('modal-logout');">OK</button>
          <button (click)="closeModal('modal-logout');">Cancel</button>
        </div>
      </div>
    </div>
    <div class="modal-background"></div>
  </modal>
  <div class="child-container">
    <router-outlet></router-outlet>
  </div>
</div>