.container{
  display: flex;
  height: 100%;
  flex-direction: row;
  background-color: #eeeeee;
}
.navbar{
  width: 15%; 
  height: 100%;
}
.outlet{
  width: 85%;
  height: 100%;
  background-color: #cecece;
}
ul{
  width: max-content;
  background: #000000;
  color: #eeeeee;
  text-transform: uppercase;
  list-style-type: none;
  font-size: 16px;
  text-align: start;
  padding: 0;
}
li{
  padding: 20px;
  border-bottom: 1px rgb(214, 214, 214) solid;
}
